
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=083a0958675fdd448c4eab175e7ffc6f
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
